---
import Layout from "../layouts/Layout.astro";
import IntroHero from "@/components/intro-hero.astro";
---

<Layout title="About">
   <IntroHero title="About" />
   <div class="container section flex items-center gap-12">
      <div class="w-[460px] h-[600px]">asdf</div>
      <div class="flex-1 space-y-4">
         <h2 class="text-5xl font-bold font-heading leading-tight">
            Our commitment is defined by two words: Family First
         </h2>
         <p>
            As one of the top roofing companies in Miami, we work on both
            commercial and residential properties providing only the best
            quality service, installation, and materials. We work with you to
            provide long-term roofing solutions and we are committed to our
            clients to deliver exactly what was specified at the price you were
            quoted. Our team offers the highest standards of work ethic,
            honesty, professionalism, and integrity.
         </p>

         <p>
            Our mission is to provide only the best service and the most high
            quality roofing services at competitive prices. Contact us today for
            a free consultation.
         </p>
      </div>
   </div>
</Layout>
