---
interface Props {
   title: string;
}

const { title } = Astro.props;
---

<div class="text-center h-80 flex items-end bg-gray-100">
   <div class="container text-left pb-20">
      <h1 class="text-6xl font-bold font-heading">{title}</h1>
   </div>
</div>
